body{
  background-color: #e9e9e9 !important;

}

.flatpickr-current-month{
  display:none !important;
}
.my-radio{
  margin: 0.2em!important;
}
.booking-title{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.booking-title h1 {
  font-size:48px;
  color: #fff !important
}
.booking-section{
  background-image: url('../img/booking-cover.jpg');
    background-color: #cccccc;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;


}
.booking-solid {
  position: relative;
  border-top: 1px solid #cf814d;
  width: 200px;
  clear: both;
  margin: 22px auto;
  margin-bottom: 40px;
}
.booking-solid:before {
  background: none repeat scroll 0% 0% #cf814d;
  content: "";
  height: 10px;
  left: 0%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}
.booking-solid:after {
  background: none repeat scroll 0% 0% #cf814d;
  content: "";
  height: 10px;
  right: 0%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}